/* @group Main Presentation */

/* @group Global */

body, html {
	background: #fff;
	padding: 0px;
	border: 0px;
	font-family: Georgia, 'Times New Roman', Times;
	font-size: 16px;
	line-height: 150%;
	color: #333;
	text-align: left;
}

p {
	margin-bottom: 0.7em;
}

pre {
	display: block;
	font-size: 10px;
	margin: 1em;
}

a {
	color: #333;
	text-decoration: none;
	padding: 1px 2px;
	background: #fbf5a7;
}

a:hover {
	color: #666;
	background: none;
}

div > * {
	max-width: 100%
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}



/* @end */

.standard_div {
	float: left;
	width: 100%;
}

.header {
	margin-top: 2em;
	margin-bottom: 20px;
	height:225px;
	border: 1px solid #000;
	text-align:center;
}

#main_title {
	background-color:transparent;
	color:#df423b;
	margin-bottom: 20px;
}

.wrapper {
	display: block;
	max-width: 1200px;
	min-width: 768px;
	width: 75%;
	margin: auto;
}

.main {
	margin: 50px 0px;
	padding-bottom: 2em;
}

.navleft {
	font-size: 12px;
	position: relative;
	width: 60px;
	float: left;
}

.navright {
	font-size: 12px;
	position: relative;
	width: 20px;
	float: right;
}

.navcenter {
	font-size: 12px;
	text-align: center;
	width: 500px;
}

.top {
	float: right;
}

.top a {
	font-size: 12px;
}

/* @group Menu */

button {
	font-size: 14px;
	margin: 0px;
}

.menu_outer {
	height:2em;
	margin:auto;
}

.menu {
	width: 310px;
	margin: auto;
}

.menu a {
	background-color:transparent;
	display: inline-block;
	padding: 0.5em;
	color: #333;
}

.menu a:hover {
	color: #df423b;
}

.left_menu_item a {
    float: left;
    width: auto;
    background: #FFF;
    text-align:center;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border: 1px solid #df423b;
    border-right: 0px;
}

.left_menu_item a:hover {
    background: #fbf5a7;
}


.menu_item a {
    float: left;
    width: auto;
    text-align:center;
    background: #FFF;
    border: 1px solid #df423b;
    border-right: 0px;
    border-left: 0px;
}

.menu_item a:hover {
    background: #fbf5a7;
}


.right_menu_item a {
    float: left;
    width: auto;
    background: #FFF;
    text-align:center;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius:5px;
    border: 1px solid #df423b;
    border-left: 0px;
}

.right_menu_item a:hover {
    background: #fbf5a7;
}


/* @end */

/* @end */

/* @group Headers */

h1 {
	font-size: 30px;
	color: #666;
	font-weight: normal;
}

h2 {
	color: #666;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 1.5em;
}

h2 a {
	text-decoration: none !important;
	background: none;
	color: #df423b;
}

h2 a:hover {
	background: #df423b;
	color: #fbf5a7;
}

h3 {
	color: #666;
	font-size: 20px;
	font-weight: normal !important;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	color: #666;
	font-weight: normal;
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1em;
}

h5 {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}



/* @end */

/* @group Index */

.index {
	color: #df423b;
}

.title_date {
	color: #df423b;
	text-align:right;
	overflow:auto;
	width: 100%;
}

.year {
	font-size: 14px;
	vertical-align: sub;
}

.month {
	padding-bottom: 1em;
}

.index_post {
	display: block;
	overflow: auto;
	padding: 0.3em;
}

.month li:nth-child(even) {
	background: #eee;
}

.month li:nth-child(odd) {
	background: #FFF;
}

.index_post_title {
	float:left; 
	text-align:left;
}

.index_post_date {
	float:right;
	font-size:12px;
	text-align:right;
}

.index_post_intro {
	float:left; 
	text-align:left;
	font-size: 12px;
	line-height: 1.2em;
	padding: 0.5em 1em 1em;
}

/* @end */

/* @group Post */

/* @group Quotes */

.qstart {
	float: left;
    height: 45px;
    margin-top: -20px;
    padding-top: 45px;
    margin-bottom: -50px;
    font-size: 700%;
    color: #f0c7c3;
}

.qend {
	float: right;
    height: 15px;
    margin-top: 0px;
    padding-top: 35px;
    font-size: 700%;
    color: #f0c7c3;
}

blockquote {
	padding-top: 0.5em;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 20px;
}

/* @end */

img {
	display: block;
	background: #fff !important;
	border: 1px solid #999;
	padding: 5px;
	text-align: center;
}

.datetime {
	font-size: 12px;
	line-height: 150%;
	color: #666;
	float: left;
	padding-right: 15px;
	margin-right: 10px;
	border-right: 1px solid #999;
	width: 200px;
	text-align: right;
	clear: both;
}

#img {
	text-decoration: none !important;
	background: #fff !important;
	margin: 0px;
}

.notes a {
	text-decoration: none !important;
	background: none;
}

.notes img {
	margin: 0px;
	padding: 3px;
	border: 1px solid #999;
}

.tags a {
	color: #666;
}

.linky {
	padding-bottom: 2em;
}

.post {
	display: inline-block;
	padding-bottom: 30px;
}

.post_content {
	float:left;
	min-width:540px;
	max-width: 800px;
	width:70%;
}

a .notes {
	text-decoration: none !important;
	background: none;
}

img .notes {
	margin: 0px;
	padding: 3px;
	border: 1px solid #999;
}

.dqs_goto_comments {
	float: right;
	font-size: 10px;
	text-align: left;
}

.dsq_goto_comments a {
	color: #666;
}

.bold {
	font-weight: bold;
}

/* @end */

/* @group Tags */

.taglist h2 {
	color: #df423b;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

.taglist {
	color: #666;
}

.tags {
	font-size: 12px;
	width: 170px;
	float: right;
}

.tags a {
	display: inline-block;
	padding: 0;
	margin: 0;
}

/* @end */

/* @group Disqus */

.disqus a {
	text-decoration: none !important;
	background: #fff !important;
}

.disqus {
	font-family: Georgia, 'Times New Roman', Times !important;
	font-size: 16px;
	line-height: 150% !important;
	color: #333 !important;
}

#disqus_thread a {
	background: transparent;
}



/* @end */