/* @override 
	http://localhost:4000/css/stylesheet.css
	file:///css/stylesheet.css
*/

/* @group Reset */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @end */

/* @group Prettify */

.str{color:#080}
.kwd{color:#008}
.com{color:#800}
.typ{color:#606}
.lit{color:#066}
.pun{color:#660}
.pln{color:#000}
.tag{color:#008}
.atn{color:#606}
.atv{color:#080}
.dec{color:#606}
code.prettyprint{border-left:1px solid #888;display:block;padding:1em;font: 12px/1.7em Monaco,Courier,monospace;white-space:normal;}
@media print{.str{color:#060}
.kwd{color:#006;font-weight:bold}
.com{color:#600;font-style:italic}
.typ{color:#404;font-weight:bold}
.lit{color:#044}
.pun{color:#440}
.pln{color:#000}
.tag{color:#006;font-weight:bold}
.atn{color:#404}
.atv{color:#060}
}
/* @end */

/* @group Main Presentation */

/* @group Global */

html, body {
	width: 100%;
	height: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	line-height: 150%;
	color: #333;
	text-align: left;
	/*background: #6c1212;*/
	background: url(../images/bg.png) repeat;

}

p {
	margin-bottom: 0.7em;
}

pre {
	display: block;
	font-size: 10px;
	margin: 1em;
}

a {
	color: #333;
	text-decoration: none;
	padding: 1px 2px;
	background: #fbf5a7;
}

a:hover {
	color: #666;
	background-color: transparent;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}



/* @end */

.standard_div {
	float: left;
	width: 100%;
}

.header {
	margin-top: 2em;
	margin-bottom: 20px;
	height: 225px;
	text-align: center;
	background: url(../images/main.png) no-repeat 120px 33px;
}

#main_title {
	background-color: transparent;
	color: #df423b;
	margin-bottom: 20px;
}

#search_div {
	display: block;
	position: relative;
	width: 200px !important;
	left: 340px;
	top: 270px;
}

#searchcontrol {
	width: 200px !important;
}

#badges {
	padding-top: 0.35em;
	width: auto;
	float: left;
}

#error {
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 0.9em;
}

.badge {
	border: none;
}

.badge_link {
	width: auto;
	background-color: transparent;
	padding:0px;
}

.last_slot {
	padding-right: 1em;
	border-right: 1px solid #DDD;
}

.social_net_slot {
	float: left;
	border-left:1px solid #DDD;
	padding-left: 1em;
	padding-right: 1em;
}

.wrapper {
	display: block;
	width: 900px;
	margin: auto;
	overflow: hidden;
	clear: both;
	border-left: 2px #6c1212 solid;
	border-right: 2px #6c1212 solid;
	background: #fff !important;
}

.main {
	padding-top: 0;
	margin: 6em 0px 0;
}

.navleft {
	font-size: 12px;
	position: relative;
	width: 60px;
	float: left;
}

.navright {
	font-size: 12px;
	position: relative;
	width: 20px;
	float: right;
}

.navcenter {
	font-size: 12px;
	text-align: center;
	width: 500px;
}

.top {
	position: fixed;
	bottom:5px;
	margin-left: 5px;
	text-align: right;
	background: transparent;
}

.top a {
	font-size: 12px;
	text-decoration: none;
	background: none;
	color: #df423b;
}

/* @group Google-search */

.gsc-resultsbox-visible {
	border: 1px solid #EEE;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.gs-result {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.gs-title {
	text-align: left;
	font-size: 0.95em;
}

.gs-title a {
	color: #333;
	text-decoration: none;
	padding: 1px 2px;
	background: #fbf5a7;
}

.gs-title a:hover {
	color: #666;
	background: none;
}

.gs-visibleUrl {
	display: none;
}

.gs-snippet {
	line-height:1.3em;
	text-align: justify;
	font-size: 0.7em;
}

.gsc-search-button {
	padding-left: 0.3em;
}

.gsc-input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* @end */

/* @group Menu */

button {
	font-size: 14px;
	margin: 0px;
}

.menu_outer {
	height:2em;
}

.menu {
	width: 310px;
	margin: auto;
	padding-left: 90px;
}

.menu a {
	background-color:transparent;
	display: inline-block;
	padding: 0.5em;
	color: #333;
}

.menu a:hover {
	color: #df423b;
}

.left_menu_item a {
    float: left;
    width: auto;
    background: #FFF;
    text-align:center;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border: 1px solid #df423b;
    border-right: 0px;
}

.left_menu_item a:hover {
    background: #fbf5a7;
}

.menu_item a {
    float: left;
    width: auto;
    text-align:center;
    background: #FFF;
    border: 1px solid #df423b;
    border-right: 0px;
    border-left: 0px;
}

.menu_item a:hover {
    background: #fbf5a7;
}

.right_menu_item a {
    float: left;
    width: auto;
    background: #FFF;
    text-align:center;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius:5px;
    border: 1px solid #df423b;
    border-left: 0px;
}

.right_menu_item a:hover {
    background: #fbf5a7;
}

/* @end */

/* @end */

/* @group Headers */

.post_content h3, h4, h5 {
	padding-top:0.7em;
}

h1 {
	font-size: 3.27em;
	color: #666;
	font-weight: normal;
}

h2 {
	padding-top: 0.2em;
	color: #666;
	font-size: 2.46em;
	font-weight: normal;
	margin-bottom: 1.5em;
}

h2 a {
	text-decoration: none;
	background: none;
	color: #df423b;
}

h2 a:hover {
	background: #df423b;
	color: #fbf5a7;
}

h3 {
	color: #666;
	font-size: 2.175em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	color: #666;
	font-weight: normal;
	font-size: 1.77em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h5 {
	color: #666;
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}



/* @end */

/* @group Index */

.index {
	color: #df423b;
}

#home {
	padding-left: 5em;
	padding-right: 5em;
}

.title_date {
	color: #df423b;
	text-align:right;
	overflow:auto;
	line-height:110%;
	width: 100%;
}

.year {
	font-size: 14px;
	vertical-align: sub;
}

.month {
	padding-bottom: 0.4em;
	background: none;
}

.index_post {
	display: block;
	overflow: auto;
	padding: 0.3em;
	background:transparent;
}

.month li:nth-child(even) {
	background: #eee;
}

.month li:nth-child(odd) {
	background: none;
}

.index_post_title {
	float:left; 
	text-align:left;
}

.index_post_date {
	float:right;
	font-size:12px;
	text-align:right;
}

.index_post_intro {
	float:left; 
	text-align:left;
	font-size: 12px;
	line-height: 1.2em;
	padding: 0.5em 1em 1em;
}

/* @end */

/* @group Post */

/* @group ToC */

.toc {
	width: auto;
	float: right;
	border: 1px solid #CCC;
	margin-left: 0.5em;
	padding: 0.5em;
	padding-left:1em;
	padding-bottom: 0.8em;
	font-size: 85%;
	background-color: #EEE;
}

.toc_link {
	background:transparent;
}

#toc_title {
	color: #df423b;
}

.depth_1, depth_3, depth_5 {
	line-height:1.5em;
	list-style-type: disc;
	list-style-position: inside;
}

.depth_2, depth_4 {
	line-height:1.5em;
	padding-left:1em;
	list-style-type: circle;
	list-style-position: inside;
}

.depth_3 {
	padding-left: 2em;
	list-style-type: square;
	list-style-position: inside;
}

.depth_4 {
	padding-left: 3em;
	list-style-type: disc;
	list-style-position: inside;
}

.depth_5 {
	padding-left: 4em;
	list-style-type: circle;
	list-style-position: inside;
}

/* @end */

/* @group Quotes */

.qstart {
	float: left;
    height: 45px;
    margin-top: -20px;
    padding-top: 45px;
    margin-bottom: -50px;
    font-size: 700%;
    color: #f0c7c3;
}

.qend {
	float: right;
    height: 15px;
    margin-top: 0px;
    padding-top: 35px;
    font-size: 700%;
    color: #f0c7c3;
}

blockquote {
	padding-top: 0.5em;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 20px;
}

/* @end */

img {
	display: block;
	background-color: transparent;
	border: 1px solid #999;
	padding: 5px;
	text-align: center;
}

.comment_number {
	display: block;
	float: left;
	width:3em;
	height: 100%;
	text-align:right;
	background-image: url('../../../images/comment_baloon_20.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;
}

.post_date {
	float: left;
	display: block;
	height: 100%;
}

.post_title {
	margin-bottom: 0.2em;
}

.post_publish_info {
	font-size: 80%;
	margin-bottom: 1.5em;
}

.post_content ol {
	list-style-type: decimal;
	list-style-position: outside;
}

.post_content ul {
	list-style-position: outside;
	list-style-type: disc;
}

.lightbox {
	background:none !important;
	text-decoration: none;
	margin: 0px;
}

.notes a {
	text-decoration: none;
	background: none;
}

.notes img {
	margin: 0px;
	padding: 3px;
	border: 1px solid #999;
}

.tags a {
	color: #666;
}

.linky {
	padding-bottom: 2em;
}

.post {
	display: block;
	/*background: #f6f6f6;*/
}

.post_content {
	display: block;
	width: auto;
	padding-left: 46px;
	padding-right: 11px;
	border-left: 1px #CCC solid;
}

a .notes {
	text-decoration: none !important;
	background: none;
}

img .notes {
	margin: 0px;
	padding: 3px;
	border: 1px solid #999;
}

.dqs_goto_comments {
	float: right;
	font-size: 10px;
	text-align: left;
}

.dsq_goto_comments a {
	color: #666;
}

hr {
	display: block;
	width: 100%;
	padding-bottom: 1.618em;
	border-width: 0px;
	height: 1px;
	text-align:center;
	line-height: 1.618em;
	font-weight:bold;
}

hr::after {
	color: #999;
	content: ".......";
	letter-spacing: 2em;
}

/* @group Table */

.normal table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 1px #000 solid;
}

.normal td {
	border: 1px #000 solid;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.normal th {
	padding-left:0.2em;
	padding-right: 0.2em;
	border: 1px #000 solid;
	background-color: #fbf5a7;
}

/* @end */

/* @end */

/* @group Tags */

#tags {
	width: 80%;
	margin: auto;
}

.taglist h2 {
	color: #df423b;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

.taglist {
	color: #666;
}

.tags {
	font-size: 12px;
	float: right;
}

.tags a {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.date {
	padding-left: 1em;
}

/* @end */

/* @group Disqus */

.disqus a {
	text-decoration: none;
	background:none;
}

.dsq_goto_comments {
	display: inline-block;
	margin-left:2em;
}

.dsq-global-toolbar-container {
	background:none;
}

.disqus {
	font-family: Georgia, 'Times New Roman', Times !important;
	font-size: 16px;
	line-height: 150% !important;
	color: #333 !important;
}

#disqus_thread {
	background:#fff;
	padding-bottom: 3em;
}

#disqus_thread a {
	background: transparent;
	background-color: transparent;
}
/* @end */