---
layout: default
---
#home
  %h2.index Index
  - site.collated_posts.sort.reverse.each do |year,months|
    - months.sort.reverse.each do |month,days|
      %ul.posts{:style => 'padding-bottom:0px'}
        - days.sort.reverse.each do |day,posts|
          - posts.each do |post|
            %li
              %div{:style => 'display:block;'}
                %div{:style => 'float:left; text-align:left'}
                  = "%s" % [link_to post.title, post.url]
                %div{:style => 'float:right; font-size:12px; text-align:right'}
                  = "%02dth %s %s" % [day, Date::MONTHNAMES[month], year]
                %br
      %br