---
layout: default
title: Tags
---
#tags

  %h1.taglist Tags

  - site.tags.sort_by {|tag,_| tag.downcase }.each do |tag,posts|
    .taglist
      %h2.taglist{ :id => slug(tag) }=h tag
      %ul.posts
        - posts.each do |post|
          %li
            %strong.date= post.date.strftime('%b %d, %Y')
            = post_link(post)