<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Almighty Bus Error
    </title>
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="ATOM" />
    <meta name="viewport" content="width=800" /><!-- iPhone -->
    <meta name="description" content="{Description}" />
    <meta name="google-site-verification" content="LhqflhiixKIv60h5urxUQN3LmHU2oKIs3hNdI8AGuKc" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/css/prettify.css" />
</head>
<body id="top">
    <div class="wrapper" style="width:600px">
        <div class="header standard_div">
            <h1>
                <a href="/" id="main_title">Almighty Bus Error</a>
            </h1>
        </div>
        <div class="menu_outer standard_div">
            <div class="menu">
                <div class="left_menu_item">
                    <a href="/">Index</a>
                </div>
                <div class="menu_item">
                    <a href="http://github.com/kernl/Scripts-and-Tools">Git Repository</a>
                </div>
                <div class="right_menu_item">
                    <a href="/about.html">About</a>
                </div>
            </div>
        </div>
        <div class="main standard_div">
        <div class="standard_div">{{content}}</div>
        <div class="top"><h2><a href="#top">[top]</a></h2></div>
        </div>
    </div>
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/misc.js"></script>
</body>
</html>

