<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Almighty Bus Error
        </title>
        <link href="atom.xml" type="application/atom+xml" rel="alternate" title="ATOM" />
        <meta name="viewport" content="width=900" /><!-- iPhone -->
        <meta name="description" content="{Description}" />
        <meta name="google-site-verification" content="LhqflhiixKIv60h5urxUQN3LmHU2oKIs3hNdI8AGuKc" />
        <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    </head>
    <body id="top">
        <div class="wrapper">
            <div class="header standard_div">
                <h1>
                    <a href="/" id="main_title">Almighty Bus Error</a>
                </h1>
                <div id="search_div">
                    <div id="searchcontrol"><span style="display:none">Loading search...</span></div>
                </div>
            </div>
            <div class="menu_outer standard_div">
                <div class="menu">
                    <div class="left_menu_item">
                        <a href="/">Index</a>
                    </div>
                    <div class="menu_item">
                        <a href="http://github.com/kernl/Scripts-and-Tools">Git Repository</a>
                    </div>
                    <div class="right_menu_item">
                        <a href="/about.html">About</a>
                    </div>
                </div>
                <div id="badges">
                    <a href="/atom.xml" class="badge_link"><img alt="" src="/images/rss_image.png" class="badge" /></a>
                </div>
            </div>
            <div class="main standard_div">
                <div class="standard_div">{{content}}</div>
                <div class="top"><a href="#top">[top]</a></div>
            </div>
        </div>
        <script src="http://www.google.com/jsapi?key=ABQIAAAAlxeLFQ-cvaJE_kfTbHzc7xTK-NxwZ8YedYVvs27jFRiyeiQZOxQDJ0530vY0ry1bJH2Nz7gnDbGedw" type="text/javascript"></script>
        <script type="text/javascript" src="/js/prettify.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.2.1.min.js"></script>
        <script type="text/javascript" src="/js/misc.min.js"></script>

        <script type="text/javascript">
            //<![CDATA[

            google.load("search", "1");

            function OnLoad() {
                var searchControl = new google.search.SearchControl();
                var siteSearch = new google.search.WebSearch();
                siteSearch.setUserDefinedLabel("Search Results");
                siteSearch.setSiteRestriction("almightybuserror.com");
                var options = new google.search.SearcherOptions();
                options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN);
                searchControl.addSearcher(siteSearch, options);
                searchControl.draw(document.getElementById("searchcontrol"));
            }
            google.setOnLoadCallback(OnLoad);

            //]]>
        </script>
    </body>
</html>

