<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Almighty Bus Error
    </title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{RSS}" />
    <meta name="viewport" content="width=1000" /><!-- iPhone -->
    <meta name="description" content="{Description}" />
    <meta name="google-site-verification" content="LhqflhiixKIv60h5urxUQN3LmHU2oKIs3hNdI8AGuKc" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/css/prettify.css" />
</head>
<body id="top">
    <div class="wrapper">
        <div class="header" style="text-align: center;">
            <h1>
                <a href="/" style="background:none; color:#df423b; margin-bottom: 20px;">Almighty Bus Error</a>
            </h1>
            <div class="description">
                Blog about computer science, code snippets and tips.<br />
                <br />
                GitHub repository with examples <a href="http://github.com/kernl/Scripts-and-Tools">here</a>.<br />
                Currently a Computer Engineering student at FCT/UNL.
            </div>
            <div style="margin-top: 0.7em; margin-bottom: 0.7em;">
            <form action='http://www.google.com/search' id='search' method='get'>
              <input class='text' name='q' type='text' />
              <input name='sitesearch' type='hidden' value='almightybuserror.com' />
              <input class='button' type='submit' value='Google' />
            </form>
            </div>
            <a style="font-size: 12px;" href="/rss">rss</a>
        </div>
        <div class="main">
            {{content}}
        <div style="float:right;"><h2><a href="#top" style="font-size:12px">[top]</a></h2></div>
        </div>
    </div>
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/misc.js"></script>
</body>
</html>



