---
layout: default
---

<div class="post_content">
    <h2 class="post_title standard_div">
        <a href="{{ post.url }}">{{ page.title }}</a>
    </h2>
    <div class="post_publish_info standard_div">
        <div class="dsq_goto_comments">
            <a href="{{ post.url }}#disqus_thread" class="dsq-comment-count comment_number"></a>
        </div>
        <div class="post_date">{{ page.date | date:"%B %d, %Y at %H:%M" }}</div>
    </div>
    <div class="standard_div">{{content}}</div>
    <div class="tags standard_div">
            Tags:&nbsp;{% for tag in (page.tags) %} <a href="/tag.html#{{ tag | downcase }}">{{ tag }}</a> {% endfor %}
    </div>
    <hr />
    <div class="post disqus">
            <div id="disqus_thread"></div>
            <script type="text/javascript" src="http://disqus.com/forums/almightybuserror/embed.js">
            </script>
            <noscript>
                <a href="http://disqus.com/forums/almightybuserror/?url=ref">View the discussion thread.</a>
            </noscript>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/almightybuserror/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]></script>
